.App {
  font-family: Verdana;
  color: dodgerblue;
  max-width: 1000px;
  margin: auto;
  padding-top: 2em;
}

.App > * {
  margin: 1em 0 1em 0;
}

.item-footer {
  display: flex;
  justify-content: space-between
}